@model Story.Entities.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Movie</legend>

    <h5>Name</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    @*<h5>Genre</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre)
    </div>*@

    <h5>Rating</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <h5>Description</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <h5>Director</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Director)
    </div>

    <h5>Date</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
