@model Story.Entities.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>
  
    <h5>Name</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <h5>Rating</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <h5>Description</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <h5>Director</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Director)
    </div>

    <h5>Date</h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <h5>Name genre</h5>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Genre.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
